<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Film vocab </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

  <h1 style="margin: auto;width: 80%; text-align: center; margin-top: 20px;  text-transform: uppercase">Film vocab </h1>
<div>
<span> The film contains {{ vocab_count }} vocabulary words </span>

</div>
<div class="table_entrances" style="overflow-x: auto;">
<table id="table">
<thead></thead> 
<tr></tr>
</table>
</div>
<a href="/">Back to Home</a>
</body>

</html>
